body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/007/153/281/non_2x/abstract-black-background-with-diagonal-lines-modern-dark-abstract-texture-design-for-presentations-or-business-free-vector.jpg);
}

#paymentForm{
    background-color: white;
}

#notes2 {
    font-size: x-small;
}
#paymentmethod {
    border-radius: 2.5px;
    padding: 1.5%;
}